@page
@model tatoulink.Views.Account.IndexModel
@{
}

<div class="container border" style="padding:20px">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-1">
                <label asp-for="Credential.UserName"></label>
            </div>
            <div class="col-5 mb-4">
                <input type="text" asp-for="Credential.UserName" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-1">
                <label asp-for="Credential.Password"></label>
            </div>
            <div class="col-5">
                <input type="password" asp-for="Credential.Password" class="form-control"/>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-1">
                <input type="submit" class="btn btn-primary" value="Login" />
            </div>
            <div class="col-5">
                
            </div>
        </div>
    </form>
</div>