@page
@model tatoulink.Pages.Account.RegisterModel
@{
}

<div class="container border" style="padding:20px">
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-1">
                <label asp-for="registerInfos.UserName"></label>
            </div>
            <div class="col-5 mb-4">
                <input type="text" asp-for="registerInfos.UserName" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-1">
                <label asp-for="registerInfos.Password"></label>
            </div>
            <div class="col-5">
                <input type="password" asp-for="registerInfos.Password" class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-1">
                <input type="submit" class="btn btn-primary" value="Register" />
            </div>
            <div class="col-5">
            </div>
        </div>
    </form>
</div>